<app-menu></app-menu>

<div class="productosColor">
        <div class="productos" *ngFor="let te of tesEncontrados">
            <div class="unProducto">
            <button class="unProducto" (click)="mandarId(te.id)">
                <img src="{{te.mainImage}}" />
            </button>
                <h3>{{te.name.toUpperCase()}}</h3>
                <p>{{te.basePrice}}&euro; / 100gr</p>
                <button class="botonComprar" (click)="anyadirACesta(te, unidades)" (click)="llamarSnackbar()">COMPRAR</button>
            </div>
            <div id="snackbar">¡Añadido a tu cesta!</div>
        </div>
    </div>

    <app-pie-de-pagina></app-pie-de-pagina>