h1{
      color: #B4BEA5;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
 }
 h2{
    font-family: 'Montserrat', sans-serif;
 }
p{
    display: inline;
    border-style: solid;
    border-radius: 55%;
    padding: 20px;
    color: #B4BEA5;
    font-family: 'Montserrat', sans-serif;
}
.pasos{
    display: flex;
    justify-content: space-around;
}
.selected{
    background-color: #B4BEA5;
    color: white;
}

.recuadro{
    width: 80vw;
    border: solid 10px #B4BEA5; 
    margin: auto;
    padding: 10px;
    align-content: center;
    width: 800px;
    background-color: white;
}

.encuesta{

    background-image: url(https://i.pinimg.com/originals/8f/44/da/8f44da0e6d4012166088559d5c3d81a6.jpg);
    height: 89vh;
    padding-top: 50px;
}



