<div class="login">
    <h1>Iniciar sesión</h1>
    <label>
        <span>Email</span>
        <input type="text" name="u" [(ngModel)]="email" placeholder="Email" required="required" /></label>
    <label>
        <span>Contraseña</span>
        <input type="password" name="p" [(ngModel)]="password" placeholder="Password"
            required="required" /></label>
    <button (click)="comprobarUsuario()">INICIAR SESION</button>
</div>

<!--
<div>
    <p>No estoy registrado</p>
    <a routerLink=# >SING UP</a>
</div>
-->