<header>
    <nav>
        <div class="containerlogo">
            <img routeLink="/" class="logo" src="/assets/ure.svg" alt="te">
        </div>
        <div>
        <ul class="menu nav-links">
            <li><a routerLink="/">INICIO</a></li>
            <li><div class="enlace">TÉ</div>
                <ul>
                    <li class="tipos"><a routerLink="/te-verde">TÉ VERDE</a></li>
                    <li class="tipos"><a routerLink="/te-rojo">TÉ ROJO</a></li>
                    <li class="tipos"><a routerLink="/te-negro">TÉ NEGRO</a></li>
                    <li class="tipos"><a routerLink="/te-blanco">TÉ BLANCO</a></li>
                    <li class="tipos"><a routerLink="/te-oolong">TÉ OOLONG</a></li>
                </ul>
            </li>
            <li><a routerLink="/infusiones">INFUSIONES</a></li>
            <li *ngIf="!usuario"><a routerLink="/iniciosesion">INICIAR SESIÓN / REGISTRARME</a></li>
            <li *ngIf="usuario"><strong>BIENVENIDA/O {{nombreMayuscula}}</strong></li>
            <li *ngIf="usuario"><a routerLink="/cesta">CESTA</a></li>
            <li *ngIf="usuario"(click)="logout()" ><a class="enlace">LOGOUT</a></li>
            <li>
                <img class="buscador" src="/assets/search.svg"/>
                <input type="text" placeholder="Encuentra tu té..." [(ngModel)]="buscarTe" >
                <button (click)="buscarTeFuncion()">BUSCAR</button>
            </li>
        </ul>
    </div>

    <div class="burger" id="burger">
        <div class="linea1"></div>
        <div class="linea2"></div>
        <div class="linea3"></div>
    </div>
    </nav>
    
</header>