<header>
    <nav>
    <ul class="menu">
        <li><a routerLink="/">INICIO</a></li>
        <li>TÉ
            <ul>
                <li><a routeLink="/te-verde">TÉ VERDE</a></li>
                <li><a routeLink="/te-rojo">TÉ ROJO</a></li>
                <li><a routeLink= "/te-negro">TÉ NEGRO</a></li>
                <li><a routeLink= "/te-blanco">TÉ BLANCO</a></li>
                <li><a routeLink= "/te-decaf">TÉ DÉCAF</a></li>
                <li><a routeLink= "/te-oolong">TÉ OOLONG</a></li>
            </ul>
        </li>
        <li><a routeLink= "/infusiones">INFUSIONES</a></li>
        <li><a routeLink= "/rooibos">ROOIBOS</a></li>
        <li><a routeLink= "/accesorios">ACCESORIOS</a></li>
        <li><a>INICIAR SESIÓN / REGISTRARSE</a></li>
        <li><a>CESTA</a></li>
    </ul>
</nav>
</header>