
<app-menu></app-menu>
<div class="inputs">
    <div class="admin">
        <h1>Añadir té &nbsp; <img src="./assets/copa.png" />&nbsp;<img src="./assets/copa.png" />&nbsp;<img src="./assets/copa.png" /></h1>
        <input type="text" style="width:400px;height:30px" name="name" placeholder="Nombre" [(ngModel)]="nombre" />
        <input type="text" style="width:400px;height:30px" name="mainImage" placeholder="Imágen" [(ngModel)]="mainImage" />
        <input type="text" style="width:400px;height:30px" name="categoria" placeholder="Categoría" [(ngModel)]="categoria" />
        <input type="text" style="width:400px;height:30px" name="descripcion" placeholder="Descripción corta" [(ngModel)]="descripcion" />
        <input type="text" style="width:400px;height:30px" name="basePrice" placeholder="Precio" [(ngModel)]="precio" />
        <input type="text" style="width:400px;height:30px" name="aroma" placeholder="Aroma" [(ngModel)]="aroma" />
        <input type="text" style="width:400px;height:30px" name="sabor" placeholder="Sabor" [(ngModel)]="sabor" />
        <input type="text" style="width:400px;height:30px" name="color" placeholder="Color" [(ngModel)]="color" />
        <input type="text" style="width:400px;height:30px" name="stock" placeholder="Stock" [(ngModel)]="stock" />
        <textarea style="width:400px;height:300px" name="longDescription" placeholder="Descripción larga" [(ngModel)]="longDescription"></textarea>

        <button (click)="teAnyadido()" (click)="llamarSnackbar()">AÑADIR NUEVO TE</button>
    </div>
    <div id="snackbar">¡Has añadido un nuevo producto!</div>
</div>
<app-pie-de-pagina></app-pie-de-pagina>