<h2>¿Qué tipo de efecto buscas?</h2>
<div class="formulario">

    <div class="funciones">

        <label for="estimulante" class="{{classEstimulante}}">
            <button (click)="cambiarEstimulante()" id="estimulante" hidden></button>
            <img class="img" src="/assets/estimulante.svg" alt="estimulante">
            <p>Estimulante</p>
        </label>

        <label for="digestivo" class="{{classDigestivo}}">
            <button (click)="cambiarDigestivo()" id="digestivo" hidden></button>
            <img class="img" src="/assets/digestivo.svg" alt="digestivo">
            <p>Digestivo</p>
        </label>

        <label for="relajante" class="{{classRelajante}}">
            <button (click)="cambiarRelajante()" id="relajante" hidden></button>
            <img class="img" src="/assets/relajante.svg" alt="Relajante">
            <p>Relajante</p>
        </label>

        <label for="antioxidante" class="{{classAntioxidante}}">
            <button (click)="cambiarAntioxidante()" id="antioxidante" hidden></button>
            <img class="img" src="/assets/antioxidante.svg" alt="Antioxidante">
            <p>Antioxidante</p>
        </label>

        <label for="isotonico" class="{{classIsotonico}}">
            <button (click)="cambiarIsotonico()" id="isotonico" hidden></button>
            <img class="img" src="/assets/isotonico.svg" alt="Isotonico">
            <p>Isotonico</p>
        </label>

        <label for="depurativo" class="{{classDepurativo}}">
            <button (click)="cambiarDepurativo()" id="depurativo" hidden></button>
            <img class="img" src="/assets/depurativo.svg" alt="Depurativo">
            <p>Depurativo</p>
        </label>

    </div>
    <button (click)="guardarFunciones()">Siguiente paso</button>
</div>

<ng-container *ngFor="let funcion of funcionesElegidas">
    {{funcion.nombre}}
</ng-container>