.img{
    width: 40px;
    margin: 0 15px;
}
p{
    display: inline;
    margin:20px;
    text-align: center;
    color: #B4BEA5;
}
.funciones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
h2{
    color: #B4BEA5;
    text-align: center;
}
button{
    background-color: white;
    padding: 10px;
    border-radius: 5%;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
label{
    width: 14vw;
    margin: 40px 18px;
    border-style: ridge;
    display: flex;
    flex-direction: row;
    border-radius: 35px;
}

.activo{
    background-color: #b4bea5;
}

.activo p{
    color:white;
}
.no-activo{
    background-color:white;
}
.funcion{
    display: flex;
    flex-direction: column;
}

