<h2>¿Qué tipo de sabor prefieres?</h2>

<div class="formulario">

    <div class="sabores">

        <label for="dulce" class="{{classDulce}}">
            <button (click)="cambiarDulce()" id="dulce" hidden></button>
            <img class="img" src="/assets/dulce.svg" alt="Dulce">
            <p>Dulce</p>
        </label>

        <label for="citrico" class="{{classCitrico}}">
            <button (click)="cambiarCitrico()" class="no-activo" id="citrico" hidden></button>
            <img class="img" src="/assets/citric.svg" alt="Cítrico">
            <p>Cítrico</p>
        </label>

        <label for="floral" class="{{classFloral}}">
            <button (click)="cambiarFloral()" class="no-activo" id="floral" hidden></button>
            <img class="img" src="/assets/floral.svg" alt="Floral">
            <p>Floral</p>
        </label>

        <label for="especiado" class="{{classEspeciado}}">
            <button (click)="cambiarEspeciado()" class="no-activo" id="especiado" hidden></button>
            <img class="img" src="/assets/especiado.svg" alt="Especiado">
            <p>Especiado</p>
        </label>

        <label for="fruit" class="{{classFruit}}">
            <button (click)="cambiarAfrutado()" class="no-activo" id="fruit" hidden></button>
            <img class="img" src="/assets/fruit.svg" alt="Afrutado">
            <p>Afrutado</p>
        </label>
    </div>
    <div>

        <button (click)="guardarSabores()">Siguiente paso</button>
    </div>

    <ng-container *ngFor="let sabor of saboresElegidos">
        {{sabor.nombre}}
    </ng-container>

</div>
{{mensaje}}