<h2>¿Qué tipo de sabor prefieres? Puntua entre 1 (mínimo) y 5 (máximo)</h2>

<div class="formulario">

    <div class="sabores">
        <div class="sabor">
                <img class="img" src="/assets/dulce.svg" alt="Dulce">
                <p>Dulce</p>
                <div>
                    <input type="range" min="0" max="5" value="0" placeholder="0" [(ngModel)]="puntuacionDulce">
                    <p>{{puntuacionDulce}}</p>
                </div>
        </div>

        <div class="sabor">
            <img class="img" src="/assets/citric.svg" alt="Cítrico">
            <p>Cítrico</p>
            <input type="range" min="0" max="5" value="0" placeholder="0" [(ngModel)]="puntuacionCitrico">
            <p>{{puntuacionCitrico}}</p>
        </div>

        <div class="sabor">
            <img class="img" src="/assets/floral.svg" alt="Floral">
            <p>Floral</p>
            <input type="range" min="0" max="5" value="0" placeholder="0" [(ngModel)]="puntuacionFloral">
            <p>{{puntuacionFloral}}</p>
        </div>

        <div class="sabor">
            <img class="img" src="/assets/especiado.svg" alt="Especiado">
            <p>Especiado</p>
            <input type="range" min="0" max="5" value="0" placeholder="0" [(ngModel)]="puntuacionEspeciado">
            <p>{{puntuacionEspeciado}}</p>
        </div>

        <div class="sabor">
            <img class="img" src="/assets/fruit.svg" alt="Afrutado">
            <p>Afrutado</p>
            <input type="range" min="0" max="5" value="0" placeholder="0" [(ngModel)]="puntuacionFruit">
            <p>{{puntuacionFruit}}</p>
        </div>
    </div>
    <div>

        <button (click)="guardarSabores()">Siguiente paso</button>
    </div>

    <ng-container *ngFor="let sabor of saboresElegidos">
        {{sabor.nombre}}
    </ng-container>

</div>
{{mensaje}}