.img{
    width: 40px;
    align-self: center;

}
p{
    display: block;
    text-align: center;
    color: #B4BEA5;
    margin-left: 0;
    font-family: 'Montserrat', sans-serif;
   
}
.sabores{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: baseline;
}
h2{
    color: #B4BEA5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
button{
    background-color: white;
    padding: 10px;
    border-radius: 5%;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
label{
    width: 15vw;
    margin: 40px;
    border-style: ridge;
    display: flex;
    flex-direction: row;
    border-radius: 35px;
}

.activo{
    background-color: #b4bea5;
}

.activo p{
    color:white;
}
.no-activo{
    background-color:white;
}
input{
    border-style: none;
    width: 6vw;
    margin: 0;
        -webkit-appearance: none;
    background-color: #b4bea5;
    border-radius: 20px;
    height: 4px;
    opacity: 0.5;

}
.sabor{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.sabor img{
    height: 52px;
}

h2{
    font-size: 16pt;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    background-color: #b4bea5;
    color: white;
    border: none;
    border-radius: 0;
}


button:hover{
    background-color: #7D8472;
}

input:hover{
    opacity: 1;
}

input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: grey;
    border-radius: 50%;

}