* {
    box-sizing: border-box;
  }


.inicioImagenTexto {
    display: flex;
    flex-direction: row;
} 
.inicioImagenTexto img{
    width: 100vw;
    overflow: hidden;
}

.textoInicio{
    display: flex;
    flex-direction: column;
    font-family: 'Libre Caslon Display', serif;
    justify-content: center;

}

.textoInicio h1{
    margin: 0px 0px 10px 0px;
    font-size: 115px;
    font-weight: normal;
    color: #B4BEA5;
    width: 50vw;
}

.unProducto img{
    width: 250px;
}

.unProducto{
    font-family: 'Montserrat', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: none;
    background-color: white;
    width: 30vw;
}

.unProducto button{
    border-radius: 4px;
    background-color: #B4BEA5;
    height: 30px;
    font-size: 11pt;
    font-family: 'Montserrat', serif;
    border: none;

}

.unProducto h3{
    font-size: 14pt;
}

.infoProducto{
    text-align: center;
}

.inicioNovedades{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}




