* {
    box-sizing: border-box;
  }


.inicioImagenTexto {
    display: flex;
    flex-direction: row;
} 
.inicioImagenTexto img{
    width: 100vw;
    overflow: hidden;
}

.textoInicio{
    display: flex;
    flex-direction: column;
    font-family: 'Libre Caslon Display', serif;
    justify-content: center;

}

.textoInicio h1{
    margin: 0px 0px 10px 0px;
    font-size: 115px;
    font-weight: normal;
    color: #B4BEA5;
    width: 50vw;
}

.unProducto img{
    width: 250px;
}

.unProducto{
    font-family: 'Montserrat', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: none;
    background-color: white;
    width: 30vw;
    outline: none !important;
}

.botonComprar{
    border-radius: 4px;
    background-color: #B4BEA5;
    height: 30px;
    font-size: 11pt;
    font-family: 'Montserrat', serif;
    border: none;
    color: white;
}

.botonComprar:hover{
  background-color: #7D8472;
}

.unProducto h3{
    font-size: 14pt;
}

.unProducto p{
    font-size: 14pt;
}

.infoProducto{
    text-align: center;
}

.inicioNovedades{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.novedad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}

.circulo-ure{
    animation:rotar 3s infinite ease-in-out;

    transform-origin: center;
  }

  .spinner{
      width: 30vw;
      text-align: center;
      position: absolute;
      top:30%;
      left:35%;
      background-size: 100%;
  }

  @keyframes rotar{
      80%{
        transform: rotate(360deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }



  
  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #7D8472; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-family: 'Montserrat', serif;
    font-size:12pt;
  }

  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
 



