* {
    box-sizing: border-box;
  }

  .unProducto{
    font-family: 'Montserrat', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: none;
    background-color: white;
    width: 30vw;
}

.inicioImagenTexto {
    display: flex;
    flex-direction: row;
} 
.inicioImagenTexto img{
    width: 100vw;
    overflow: hidden;
}

.textoInicio{
    display: flex;
    flex-direction: column;
    font-family: 'Libre Caslon Display', serif;
    justify-content: center;

}

.textoInicio h1{
    margin: 0px 0px 10px 0px;
    font-size: 115px;
    font-weight: normal;
    color: #B4BEA5;
    width: 50vw;
}

.unProducto img{
    width: 300px;
}

.unProducto{
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    padding: 25px;
}

.productos{
    display:flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 10vw;
}
.productosxColor{
    display: flex;
    flex-wrap: wrap;
}
