<app-menu-usuario></app-menu-usuario>

<div class="inicioImagenTexto">
    <div class="textoInicio">
        <h1>Una nueva forma de tomar té. </h1>
    </div>
</div>
<div class="fondoParrafoNavidad">
    <div class="parrafoNavidad">
            <img src="https://images.pexels.com/photos/3166840/pexels-photo-3166840.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        <div class="textoNavidad">
            <h6>Ya tenemos los nuevos tés navideños de este año.</h6>
            <p class="parrafoTextoNavidad">Esta Navidad vuelve el rey Sweet Turron con su incomparable sabor a turrón para endulzarte los días de
                invierno, pero si prefieres algo más brillante tenemos nuestro Snow Christmas que nos evoca a la belleza
                de esta época deslumbrando como él solo sabe.</p>
        </div>
    </div>
</div>
<div class="inicioNovedades">
    <app-novedad posicion=0></app-novedad>
    <app-novedad posicion=1></app-novedad>
    <app-novedad posicion=2></app-novedad>

</div>
<div class="inicioNovedades">
        <app-recomendacion></app-recomendacion>
     
    
    </div>
