* {
    box-sizing: border-box;
  }

  .circulo-ure{
    animation:rotar 3s infinite ease-in-out;

    transform-origin: center;
  }

  .spinner{
      width:100px;
  }

  @keyframes rotar{
      80%{
        transform: rotate(360deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }

  .inicioImagenTexto {
    display: flex;
    background-size: cover;
    background-position-y: bottom;
    height: 500px;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1576344069300-e4273f6dfdf8?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
} 

.textoInicio{
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    justify-content: space-evenly;
    margin-bottom: 5px;
    align-self: flex-end;
 
}

 
.inicioImagenTexto img{
    width: 100vw;
    overflow: hidden;
}

.textoInicio{
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    justify-content: flex-start;
    align-items: center;
}

.textoInicio h1{
    font-size: 30pt;
    color: #7D8472;
}

.inicioNovedades{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.parrafoNavidad{
    display: flex;
    flex-direction: row;
    font-weight: 900;
    color:#F0EFE2;
}

.parrafoNavidad img{
    height: 15vw;
    width: 50vw;
    object-position: 50% 42%;
    object-fit: cover;
}

.textoNavidad{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-self: center;
}

.textoNavidad h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

.textoNavidad p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

.fondoParrafoNavidad{
    background-color: #7D8472;
}


.parrafoTextoNavidad{
    width:600px;
}


@media screen and (max-width: 850px){
  
    .inicioNovedades{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .textoInicio h1{
        font-size: 20pt;
    }
    .inicioImagenTexto {
        display: flex;
        background-size: cover;
        background-position-y: center;
        height: 300px;
        justify-content: center;
       
    } 
    .parrafoNavidad{
        display: flex;
        flex-direction: column;
        color:#F0EFE2;
    }
    .parrafoNavidad img{
        height: 300px;
        width: 100vw;
        object-fit: cover;
    }
    .textoNavidad h6{
        font-family: 'Montserrat', sans-serif;
        font-size: 16pt;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .textoNavidad p {
        width: 550px;
    }

    .textoNavidad{
        align-items: center;
        margin:50px;
    }
}

@media screen and (max-width: 1250px){
    .parrafoNavidad{
        display: flex;
        flex-direction: column;
        color:#F0EFE2;
    }
    .parrafoNavidad img{
        height: 300px;
        width: 100vw;
        object-position: 50% 37%;
    }
    .textoNavidad{
        margin: 50px;
    }

}