<footer class="footer">
    <div class="text">
        <p>&copy; Ure. 2019</p>
    </div>
    
    <div class="aboutUs">
        <img class="almacenar" src="/assets/almacenar.svg" alt="">
        <p><strong>Nos puedes encontrar en:</strong></p>
        <p>Avda. Mazarredo 35-3D</p>
        <p>48003 Bilbao (Bizkaia)</p>
    </div>

    <div class="horario">
        <img class="abrir" src="/assets/abrir.svg" alt="">
        <p><strong>Nuestro horario es: </strong></p>
        <p> De Lunes a Viernes: 9:00 - 13:00 y 16:00 - 20:00 </p>
        <p> Sabados: 9:00 - 14:00</p>
    </div>

    <div class="envio">
        <img class="telefono" src="/assets/telefono.svg" alt="">
        <p><strong>Para hacer tu pedido, llama al:</strong></p>
        <p>601342675</p>
    </div>
</footer>