<app-menu></app-menu>

<ng-container class="cesta" *ngIf="cesta.length!==0 && cesta!==undefined">
    <div class="total">
        <p>Total a pagar: {{precioTotalRedondo}}&euro;</p>

        <button class="botonPagar" (click)="guardarPedido()" (click)="llamarSnackbar()">PAGAR</button>

    </div>
    <hr>
    <p class="total">Tu pedido:</p>
    <div class="containerProductos">
        <div class="producto" *ngFor="let te of cesta">
            <img src="{{te.producto.mainImage}}" alt="te">
            <p>{{te.producto.name.toUpperCase()}}</p>
            <p>{{te.producto.basePrice}}€ / 100gr</p>
            <div class="unidadesRestarSumarEliminar">
                <button class="boton sumar" (click)="sumarUnidad(te.producto.id)">+</button>
                <p>{{te.unidades}} ud(s) </p>
                <button class="boton restar" (click)="restarUnidad(te.producto.id)">-</button>
                <button class="boton eliminar" (click)="eliminarDeCesta(te.producto.id)">X</button>
            </div>
        </div>
        <div id="snackbar">¡Pedido realizado correctamente!</div>
    </div>
</ng-container>
 
 <ng-container *ngIf="cesta.length===0 || cesta===undefined">
    <p class="vacia">Tu cesta está vacía</p>
    <div id="snackbar">¡Pedido realizado correctamente!</div>
</ng-container>
<app-pie-de-pagina></app-pie-de-pagina>