.producto img{
    width:300px;
}

.producto{
    display:flex;
    flex-direction: column;
}

.containerProductos{
    display: flex;
    flex-wrap: wrap;

}
.vacia{
    text-align: center;
    color: #B4BEA5;
    font-size: 3vw;
}