<app-menu></app-menu>
 <ng-container *ngIf="cesta.length!==0 && cesta!==undefined">    
     <div class="containerProductos" *ngIf="cesta">
        <div class="producto" *ngFor="let te of cesta">
            <img src="{{te.producto.mainImage}}" alt="te">
            <p>{{te.producto.name}}</p>
            <p>{{te.unidades}} ud(s) </p>
            <p>{{te.producto.basePrice}}€</p>
            <button (click)="eliminarDeCesta(te.producto.id)">Eliminar producto</button>
            <button (click)="restarUnidad(te.producto.id)">Restar unidad</button>
            <button (click)="sumarUnidad(te.producto.id)">Sumar unidad</button>
        </div>
        <div>
            <p>Total a pagar:{{precioTotalRedondo}}€</p>
            <button (click)="guardarPedido()">Pagar</button>
        </div>
    </div>
</ng-container> 
 <ng-container *ngIf="cesta.length===0 || cesta===undefined">
    <p class="vacia">Tu cesta está vacía</p>
</ng-container>