<!-- <div class="productosColor">
    <div class="productos" *ngFor="let recomendacion of pedidosAmigosAgrupados">
        <button class="unProducto" (click)="mandarId(dato.id)">
            <img src="{{recomendacion.producto.mainImage}}" />
            <h3>{{recomendacion.producto.name.toUpperCase()}}</h3>
            <p>{{recomendacion.producto.basePrice}}€/ 100gr</p>
        </button>
        <button (click)="anyadirACestaDesdeColor(recomendacion.producto)">COMPRAR</button>
    </div>
</div> -->
