<app-menu></app-menu>
<div class="modify">
    <div class="adminMod">
        <h1>Modificar té &nbsp; <img src="/assets/copa.png" /></h1>
        <input type="text" style="width:400px;height:30px" name="mainImage" placeholder="Imágen" [(ngModel)]="mainImage" />
        <input type="text" style="width:400px;height:30px" name="categoria" placeholder="Categoría" [(ngModel)]="categoria" />
        <input type="text" style="width:400px;height:30px" name="descripcion" placeholder="Descripción corta" [(ngModel)]="descripcion" />
        <input type="text" style="width:400px;height:30px" name="aroma" placeholder="Aroma" [(ngModel)]="aroma" />
        <input type="text" style="width:400px;height:30px" name="sabor" placeholder="Sabor" [(ngModel)]="sabor" />
        <input type="text" style="width:400px;height:30px" name="precio" placeholder="Precio" [(ngModel)]="precio" />
        <input type="text" style="width:400px;height:30px" name="color" placeholder="Color" [(ngModel)]="color" />
        <input type="text" style="width:400px;height:30px" name="name" placeholder="Nombre" [(ngModel)]="nombre" />
        <input type="text" style="width:400px;height:30px" name="stock" placeholder="Stock" [(ngModel)]="stock" />
        <textarea style="width:400px;height:300px" name="longDescription" placeholder="Descripción larga" [(ngModel)]="longDescription"></textarea>
        <button type="button" (click)="nuevoTe()" (click)="llamarSnackbar()">MODIFICAR TÉ </button>
    </div>
    <div id="snackbar">¡Producto modificado!</div>
</div>

<app-pie-de-pagina></app-pie-de-pagina>