<header>
    <nav>
        <div class="containerlogo">
            <img routeLink="/" class="logo" src="/assets/ure.svg" alt="te">
        </div>
        <div>
            <ul class="menu nav-links">
                <li><a routerLink="/">INICIO</a></li>
                <li>
                    <div class="enlace">TÉ</div>
                    <ul>
                        <li class="tipos"><a routerLink="/te-verde">TÉ VERDE</a></li>
                        <li class="tipos"><a routerLink="/te-rojo">TÉ ROJO</a></li>
                        <li class="tipos"><a routerLink="/te-negro">TÉ NEGRO</a></li>
                        <li class="tipos"><a routerLink="/te-blanco">TÉ BLANCO</a></li>
                        <li class="tipos"><a routerLink="/te-oolong">TÉ OOLONG</a></li>
                    </ul>
                </li>
                <li><a routerLink="/infusiones">INFUSIONES</a></li>
                <ng-container *ngIf="!usuario">
                    <li><a routerLink="/iniciosesion">INICIAR SESIÓN / REGISTRARME</a></li>
                </ng-container>
                <li *ngIf="usuario"><strong>BIENVENIDA/O {{nombreMayuscula}}</strong></li>
                <li *ngIf="usuario"><a routerLink="/cesta">CESTA</a></li>
                <li *ngIf="usuario" (click)="logout()"><a class="enlace">LOGOUT</a></li>
                <ng-container *ngIf="isAdmin">
                    <li><a routerLink="/input-admin">AÑADIR TÉ</a></li>
                </ng-container>
                <li>
                    <div class="searchBox">
                        <input class="searchInput" type="text" placeholder="Encuentra tu té..." [(ngModel)]="buscarTe">
                        <button class="searchButton" (click)="buscarTeFuncion()">
                    <i class="material-icons"> search</i>
                </button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="burger" id="burger">
            <div class="linea1"></div>
            <div class="linea2"></div>
            <div class="linea3"></div>
        </div>
    </nav>

</header>
<div class="modify">
    <div class="adminMod">
        <h1>Modificar té &nbsp; <img src="/assets/copa.png" /></h1>
        <input type="text" style="width:400px;height:30px" name="mainImage" placeholder="Imágen" [(ngModel)]="mainImage" />
        <input type="text" style="width:400px;height:30px" name="categoria" placeholder="Categoría" [(ngModel)]="categoria" />
        <input type="text" style="width:400px;height:30px" name="descripcion" placeholder="Descripción corta" [(ngModel)]="descripcion" />
        <input type="text" style="width:400px;height:30px" name="aroma" placeholder="Aroma" [(ngModel)]="aroma" />
        <input type="text" style="width:400px;height:30px" name="sabor" placeholder="Sabor" [(ngModel)]="sabor" />
        <input type="text" style="width:400px;height:30px" name="precio" placeholder="Precio" [(ngModel)]="precio" />
        <input type="text" style="width:400px;height:30px" name="color" placeholder="Color" [(ngModel)]="color" />
        <input type="text" style="width:400px;height:30px" name="name" placeholder="Nombre" [(ngModel)]="nombre" />
        <input type="text" style="width:400px;height:30px" name="stock" placeholder="Stock" [(ngModel)]="stock" />
        <textarea style="width:400px;height:300px" name="longDescription" placeholder="Descripción larga" [(ngModel)]="longDescription"></textarea>
        <button type="button" (click)="nuevoTe()" (click)="llamarSnackbar()">MODIFICAR TÉ </button>
    </div>
    <div id="snackbar">¡Producto modificado!</div>
</div>

<app-pie-de-pagina></app-pie-de-pagina>