.tipoTe{
    display:flex;
    flex-direction: row;
}

.tipoTeTexto{
    display:flex;
    flex-direction: column;
    width: 50vw;;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

.tipoTeTexto h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.tipoTe img{
    width: 50vw;
}



