.tipoTe{
    display:flex;
    flex-direction: row;
}

.tipoTeTexto{
    display:flex;
    flex-direction: column;
    width: 50vw;;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

.tipoTeTexto h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.tipoTe img{
    width: 50vw;
}

.circulo-ure{
    animation:rotar 3s infinite ease-in-out;

    transform-origin: center;
  }

  .spinner{
      width: 30vw;
      text-align: center;
      position: absolute;
      top:30%;
      left:35%;
      background-size: 100%;
  }

  @keyframes rotar{
      80%{
        transform: rotate(360deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }



