<app-menu></app-menu>
<ng-container *ngIf="mounted===false">
    <svg class="spinner" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 304.33">
        <defs>
            <style>
                .cls-1 {
                    fill: #7d8472;
                }

                .circulo-ure {
                    fill: #7d8472;
                }
            </style>
        </defs>
        <title>tespinner</title>
        <g>
            <path class="cls-1"
                d="M161.1,166.4c-4.54,0-10.18.24-15.27.71v-11.2c-3.05,7.28-7.51,11.59-15.73,11.59a11.84,11.84,0,0,1-8.69-3.37c-2.5-2.66-2.74-5.79-2.66-10.33l.24-16.28c.07-4.93.07-6.42-7.21-6.89V129.3c8.54-.08,15-.39,19-.71v27.48c0,5,.79,7.91,4.31,7.91,4.46,0,10.57-5.8,10.57-17.93V135.17c0-3.6-2.35-4.23-7-4.54V129.3c8.45-.08,14.95-.39,18.79-.71v30.22c0,4.15-.16,5.71,6.73,6.34v1.33C163.29,166.48,162,166.4,161.1,166.4Z" />
            <path class="cls-1"
                d="M197.34,141.28c-3.83,0-5.79-2.51-5.79-5.56,0-.94.7-2,.7-2.51,0-.31-.7-.39-.94-.39a4.5,4.5,0,0,0-1.95.94c-3.29,2.27-4.23,7.67-4.23,16.05v9c0,4.15-.08,5.71,7,6.34v1.33H166.5v-1.33c6.89-.63,6.81-2.11,6.81-6.34V135.17c0-3.6-2.43-4.23-7.05-4.54V129.3c8.07,0,14.72-.39,18.64-.71v8.3c2.19-5.63,5.94-8.53,11.11-8.53,3.84,0,7.44,2.58,7.44,6.89A6.21,6.21,0,0,1,197.34,141.28Z" />
            <path class="cls-1"
                d="M217.34,146.75c0,.24-.08,1.1-.08,1.33,0,11,1.33,17.62,10,17.62,7.28,0,12.44-3.92,13.7-11.74h1.56c-.94,8.61-7.36,13.46-16.75,13.46-11.74,0-21.21-8.06-21.21-19.73a19.79,19.79,0,0,1,20.12-19.33c10.41,0,18.08,7.44,18.08,16.83v1.56Zm7.28-16.67c-5.4,0-6.89,5.09-7.21,14.95h7.75c5,0,5.72.16,5.72-5.16C230.88,133.37,228.84,130.08,224.62,130.08Z" />
        </g>
        <circle class="circulo-ure" cx="253.88" cy="161.68" r="5.82" />
    </svg>
</ng-container>
<ng-container *ngIf="mounted===true">

    <div class="producto">
        <div class="info">
            <div class="foto">
                <img src="{{producto[0].mainImage}}" />
            </div>
            <div class="texto">
                <h3>{{nombre.toUpperCase()}}</h3>
                <div *ngFor="let dato of longDescription">
                    <p>{{dato}}</p>
                </div>
                <!--<button>Leer más</button>-->
            </div>
        </div>

        <div class="abajo">
            <div class="caracteristicas">
                <div class="caracteristica">
                    <img class="icono" src="{{iconoAroma}}" />
                    <p>Aroma: {{aroma}}</p>
                </div>
                <div class="caracteristica">
                    <img class="icono" src="{{iconoSabor}}" />
                    <p>Sabor: {{sabor}}</p>
                </div>
                <div class="caracteristica">
                    <img class="icono" src="{{iconoColor}}" />
                    <p>Color: {{color}}</p>
                </div>
            </div>
            <div class="compra">
                <h2>{{precio}}€/ 100gr</h2>
                <input type="number" [(ngModel)]="unidades" placeholder=0 />
                <button (click)="anyadirACestaDesdeProducto()" (click)="llamarSnackbar()">AÑADIR A LA CESTA</button>
                <button (click)="modificarProducto()" *ngIf="userIsAdmin">MODIFICAR <i class="fas fa-mug-hot"></i></button>

            </div>
        </div>
        <div id="snackbar">¡Añadido a tu cesta!</div>
    </div>
</ng-container>

<app-pie-de-pagina></app-pie-de-pagina>