img{
    width: 35vw;
    padding: 25px;
}
.texto{
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}

.compra{
    font-family: 'Montserrat', sans-serif;
}

.compra button{
    font-family: 'Montserrat', sans-serif;
    background-color:  #B4BEA5;
    font-size: 11pt;
    color: white;
    border-radius: 3px;
    border:none;
    height: 30px;
    width: 170px;
}

.compra button:hover{
    background-color: #7D8472;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icono{
    width: 80px;
}

.caracteristica{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}

.caracteristicas{
    display: flex;
    flex-direction: column;
}
.compra{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abajo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.producto{
    display: flex;
    flex-direction: column;
}


input{
    margin: 25px;
    width: 80px;
    text-align: center;
    background-color: white;
    border: solid 4px #B4BEA5;
    border-radius: 11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    
    -webkit-appearance: none;
}

input::-webkit-inner-spin-button {
    opacity: 1;
    color: #B4BEA5;
    background-color: red;
  }

  
button{
    width: 200px;
}
.circulo-ure{
    animation:rotar 3s infinite ease-in-out;

    transform-origin: center;
  }

  .spinner{
      width: 30vw;
      text-align: center;
      position: absolute;
      top:30%;
      left:35%;
      background-size: 100%;
  }

  @keyframes rotar{
      80%{
        transform: rotate(360deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }

  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #7D8472; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-family: 'Montserrat', serif;
    font-size:12pt;
  }

  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


  @media screen and (max-width: 777px){
    .info{
        flex-direction: column;
        align-items: center;
    }

    .texto{
    width: 80vw;
    }

    img{
        width: 80vw;
    }

}
