.registroInicioSesion{
    display:flex;
    flex-direction: column;
    padding-top: 30px;
}

.sub-registroInicioSesion{
    align-self: center;
    padding-bottom: 30px;
}

.registro input{
    border: 0;
    outline: none;
}


