/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    outline: none !important;
}

.text {
    margin-top: 200px;
}

.aboutUs {
    margin-top: 60px
}

.horario {
    margin-top: 90px;
}

header{
    padding-top: 20px;
}

 
body{
    position: relative;
    margin:0px;
    padding-bottom: 300px; 
    min-height: 100vh;
  }


  @media screen and (max-width: 850px){
    body{
        padding-bottom: 500px;
        min-height: 100vh;
    }  
}



.carousel-control-next, .carousel-control-prev{
    color: black ;
  }

  .carousel-control-next-icon{
    background-image: url(assets/next.svg) !important;
  }

.carousel-control-prev-icon{
background-image: url(assets/prev.svg) !important;
}