/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.footer {
    background-color: tomato;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    margin-top: 200px;
}

.aboutUs {
    margin-top: 60px
}

.horario {
    margin-top: 90px;
}