<app-menu></app-menu>

<div class="inicioImagenTexto">
    <img src="/assets/pink-petaled-flower-on-white-and-pink-surface-2395242.jpg" alt="" />
    <div class="textoInicio">
        <h1>Con té. </h1>
        <h1>De cuidar<span style="color:#D9848B">té</span></h1>
        <h1>De relajar<span style="color:#D9848B">té</span></h1>
    </div>
</div>
<div class="fondoParrafoNavidad">
    <div class="parrafoNavidad">
        <img src="https://images.pexels.com/photos/1721232/pexels-photo-1721232.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="">
            <img src="https://images.pexels.com/photos/3166840/pexels-photo-3166840.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        <div class="textoNavidad">
            <h6>Ya tenemos los nuevos tés navideños de este año.</h6>
            <p class="parrafoTextoNavidad">Esta Navidad vuelve el rey Sweet Turron con su incomparable sabor a turrón para endulzarte los días de
                invierno, pero si prefieres algo más brillante tenemos nuestro Snow Christmas que nos evoca a la belleza
                de esta época deslumbrando como él solo sabe.</p>
        </div>
    </div>
</div>
<div class="inicioNovedades">
    <div class="unProducto">
        <img src="/assets/10142_ChristmasTeaBlack_1000x1000_l.jpg" alt="" />
        <h3>TÉ NEGRO CHRISTMASTEA BLACK</h3>
        <p>7.95€ / 100gr</p>
        <button>COMPRAR</button>
    </div>
    <div class="unProducto">
        <img src="/assets/10142_ChristmasTeaBlack_1000x1000_l.jpg" alt="" />
        <h3>TÉ NEGRO CHRISTMASTEA BLACK</h3>
        <p>7.95€ / 100gr</p>
        <button>COMPRAR</button>
    </div>
    <div class="unProducto">
        <img src="/assets/10142_ChristmasTeaBlack_1000x1000_l.jpg" alt="" />
        <h3>TÉ NEGRO CHRISTMASTEA BLACK</h3>
        <p>7.95€ / 100gr</p>
        <button>COMPRAR</button>
    </div>

</div>