<app-menu></app-menu>

<div class="inicioImagenTexto">
    <img src="/assets/pink-petaled-flower-on-white-and-pink-surface-2395242.jpg" alt="" />
    <div class="textoInicio">
        <h1>Con té. </h1>
        <h1>De cuidar<span style="color:#D9848B">té</span></h1>
        <h1>De relajar<span style="color:#D9848B">té</span></h1>
    </div>
</div>
<div>
    <p>Ya tenemos los nuevos productos navideños de este año.</p>
</div>
<div class="inicioNovedades">
    <div class="unProducto">
        <img src="/assets/10142_ChristmasTeaBlack_1000x1000_l.jpg" alt="" />
        <h3>TÉ NEGRO CHRISTMASTEA BLACK</h3>
        <p>7.95€ / 100gr</p>
        <button>COMPRAR</button>
    </div>
    <div class="unProducto">
        <img src="/assets/10142_ChristmasTeaBlack_1000x1000_l.jpg" alt="" />
        <h3>TÉ NEGRO CHRISTMASTEA BLACK</h3>
        <p>7.95€ / 100gr</p>
        <button>COMPRAR</button>
    </div>
    <div class="unProducto">
        <img src="/assets/10142_ChristmasTeaBlack_1000x1000_l.jpg" alt="" />
        <h3>TÉ NEGRO CHRISTMASTEA BLACK</h3>
        <p>7.95€ / 100gr</p>
        <button>COMPRAR</button>
    </div>

</div>