* {
    box-sizing: border-box;
  }

  
.inicioImagenTexto {
    display: flex;
    background-size: cover;
    background-position-y: center;
    height: 600px;
    height: 700px;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/734983/pexels-photo-734983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
} 
.inicioImagenTexto img{
    width: 200px;
    overflow: hidden;
}

.textoInicio{
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    justify-content: flex-start;

}

.textoInicio h1{
    font-size: 30pt;
    font-weight: 900;
    color: #B4BEA5;
}

.inicioNovedades{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:50px;
}

.parrafoNavidad{
    display: flex;
    flex-direction: row;
    font-weight: 900;
    color:#F0EFE2;
}

.parrafoNavidad img{
    height: 21vw;
    width: 50vw;
    object-fit: cover;
}

.textoNavidad{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left:50px;
    width: 700px;
}

.textoNavidad h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

.textoNavidad p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

.fondoParrafoNavidad{
    background-color: #7D8472;
}


.parrafoTextoNavidad{
    width:600px;
}


@media screen and (max-width: 850px){
  
    .inicioNovedades{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .textoInicio h1{
        font-size: 20pt;
        font-weight: 900;
        color: #B4BEA5;
    }
    .inicioImagenTexto {
        display: flex;
        background-size: cover;
        background-position-y: center;
        height: 300px;
        justify-content: center;
        background-image: url(https://images.pexels.com/photos/734983/pexels-photo-734983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    } 
    .parrafoNavidad{
        display: flex;
        flex-direction: column;
        color:#F0EFE2;
        font-size: 12pt;
    }
    .parrafoNavidad img{
        height: 300px;
        width: 100vw;
        object-fit: cover;
    }
    .textoNavidad h6{
        font-family: 'Montserrat', sans-serif;
        font-size: 16pt;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .textoNavidad p {
        width: 550px;
        
    }

    .textoNavidad{
        align-items: center;
        margin:50px;
    }
}

@media screen and (max-width: 1250px){
    .parrafoNavidad{
        display: flex;
        flex-direction: column;
        color:#F0EFE2;
    }
    .parrafoNavidad img{
        height: 300px;
        width: 100vw;
        object-position: 50% 37%;
    }
    .textoNavidad{
        margin: 50px;
    }

}