* {
    box-sizing: border-box;
  }


.inicioImagenTexto {
    display: flex;
    flex-direction: row;
} 
.inicioImagenTexto img{
    width: 100vw;
    overflow: hidden;
}

.textoInicio{
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    
    justify-content: center;

}

.textoInicio h1{
    margin: 0px 0px 10px 0px;
    font-size: 72px;
    font-weight: 900;
    color: #B4BEA5;
    width: 50vw;
}

.unProducto img{
    width: 250px;
}

.unProducto{
    font-family: 'Montserrat', sans-serif;
}

.inicioNovedades{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.parrafoNavidad{
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
    text-align: center;
}