<div class="registro">
    <h1>Registrarme</h1>
    <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre" />
    <input type="text" [(ngModel)]="apellido" name="apellido" placeholder="Apellido" />
    <input type="text" [(ngModel)]="email" name="email" placeholder="Email" />
    <input type="password" name="p" [(ngModel)]="password" placeholder="Contraseña" required="required" />
    <input type="text" name="direccion" [(ngModel)]="direccion" placeholder="Direccion" required="required" />
    <input type="text" name="localidad" [(ngModel)]="localidad" placeholder="Localidad" required="required" />
    <input type="text" name="provincia" [(ngModel)]="provincia" placeholder="Provincia" required="required" />
    <input type="text" name="cp" [(ngModel)]="cp" placeholder="CP" required="required" />
    <input type="text" name="telefono" [(ngModel)]="telefono" placeholder="Teléfono" required="required" />
    <button (click)="registrarUsuario()">REGISTRARME</button>
</div>

<!--
<div>
    <p>Ya estoy registrado</p>
    <a routerLink="../login">SING IN</a>
    <p>{{mensaje}}
    </p>
</div>
-->
